body {
    width: 100%;
    height: 100%;
    background-color: #DDE7E7;
}

h2 {
    grid-area: titulo;
    text-align: center;
    padding-top: 5pt;
    color: #F0F0F0;
    background-color: #AAAAAA;
    border-radius: 5px;
    margin: 0 50px 0;
    border: 2px solid #F0F0F0;
}

.menu {
    grid-area: cartoes;
    height: 100%;
}

img {
    max-width: 200px;
    max-height: 200px;
    object-fit: fill;
}