p {
    grid-area: inicio;
    background-color: black;
    color: white;
    text-align: center;
    grid-row: 1/1;
}

h2 {
    grid-area: titulo;
    grid-row: 2/2;
    text-align: center;
}

.menu {
    grid-area: cartoes;
    grid-row: 3/3;
    height: 100%;
}

img {
    width: 200px;
    height: 200px;
}