body {
    width: 99%;
    height: 100%;
}

h2 {
    grid-area: titulo;
    grid-row: 2/2;
    text-align: center;
    padding-bottom: 10pt;
}

.menu {
    grid-area: cartoes;
    grid-row: 3/3;
    height: 100%;
}

img {
    width: 200px;
    height: 200px;
}