.menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: auto;
}

.menu_cartao {
    margin: 25px 50px 5px;
    /*border-style: solid;*/
}



.menu_cartao_titulo {
    margin-bottom: 10px;
    color: #F0F0F0;
    text-align: center;
}

.menu_cartao_conteudo {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas: "figura textoMenu";
    margin-bottom: 10px;
}

.menu_cartao_figura {
    grid-area: figura;
}

.menu_cartao_texto {
    grid-area: textoMenu;
    word-wrap: break-word;
}